
/*  Other styles for making things look pretty ==================== */

/* Fonts
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
*/


figure {
    margin: 0;
    padding: 0;
    line-height: 1.4;

}
.navbar-brand span{width:160px;}
.demo {
    background-color: #666;
}

#wrapper > figure > figcaption {
    text-align: center;
}
#wrapper > figure > figcaption {
    margin: 1em;
}
.demo h1,
.demo #wrapper > figure > figcaption {
    color: #fff;
}
.mis-slider li figcaption {
    font-weight: 500;
    letter-spacing: .5px;
	margin:25px 0;
	color:#f1658a;
	font-weight:600;
	font-size:16px;
}
.mis-slider li figcaption span{
	font-weight:normal;
	margin-left:5px;
	font-size:13px;
}
.main {
    width: 80%;
    margin: 2em auto;
    /*display: block;*/
}
div.main pre {
    font-size: 1.1em;
    overflow: auto;
    max-height: 500px;
    background-color: #fff;
    padding: 0 1em 1em;
}
@media screen and (min-width: 1200px) {
    .main {
        width: 50%;
    }
}
.plus{
	width:27px;
	height:27px; 
	margin: auto;
	margin-top:25px;
}

#test, #test-2, #test-3, #test-4, #test-5, #test-6{
  color: rgba(80,80,80,1);
  width: 70%;
  display: none;
  background: rgba(255,255,255,1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,1);
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  
}
::-webkit-scrollbar{
  width:20px;
} 

::-webkit-scrollbar-thumb{
   background-color: rgba(255,255,255,1);

} 
.image_area{
	width:40%;
	float:left;
       /* min-height: 600px !important;/* edited by oumaya */
}
.image_box{
	position:absolute;
	left:5%;
	top:10%;
	width:285px;
}
.image_icon{
	width:65px;
	height:65px;
	
}
.mar-im{
	margin-top:50%;
}
.image_area h2{
	font-size:66px;
	font-family: 'Asap', sans-serif;
	color:#FFFFFF;
	font-weight:500;
}
.image_area h5{
	color:#FFFFFF;
	font-weight:normal;
	width:100%;
}

/*edited by oumaya */
.content_area {
	width:60%;
	float:right;
	padding:50px 70px 30px;
	overflow-y: scroll;
	height:580px;
        overflow-y: scroll;
}
.content_area_url {
	width:50%;
	float:left;
	padding:50px 70px 30px;
       /* margin-left: 14%;*/
	overflow-y: scroll;
	height:450px;
        overflow-y: scroll;
        background-color: #FFFFFF;
}
/* added by oumaya */
.content_area_rest {
	width:60%;
	float:right;
	padding:50px 70px 30px;

}
/*************/
.content_area h4 span{
	font-size:22px;
	color:#2d2832;
	margin-bottom:10px;
	font-weight:600;
	line-height:35px
}
.content_area h4{
	font-size:22px;
	color:#2d2832;
	text-transform:uppercase;
	font-weight:normal;
	float:left;
	width:100%;
	margin-bottom:10px;
}
.margin_t{
	margin-top:40px;
}

.content_area ul.social-networkpop {
    list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
.content_area ul.social-networkpop li {
	display: inline;
	margin: 5px 0px;
	font-size: 16px;
	font-weight:normal;
	margin-right:25px;
	margin-top:10px;
}

/** edit by oumaya **/
.content_area input[type="text"], .content_area input[type="password"] {
width: 100%;
	padding: 15px -1px 5px 0;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #cfcfcf;
	outline: none;
	color: #2d2832 !important;
	font-size: 16px !important;
	font-weight:normal;
	height: 40px;
  
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 15px -1px 5px 0;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #cfcfcf;
	outline: none;
	color: #2d2832 !important;
	font-size: 16px !important;
	font-weight:normal;
	height: 40px;
}
/*******/
select {
  width: 60%;
  padding: 15px 0px 5px 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #cfcfcf;
  outline: none;
  color: #2d2832;
  font-size: 16px;
  font-weight:normal;
  background:url(../images/arrow.png) no-repeat right;
  background-position:right 25px;
  margin-bottom:25px;
}

/*label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}*/
/** edit by oumaya **/
label {
	display: block;
	position: absolute;
	margin-right: 10px;
	/* width: 8px;*/
	height: 8px;
	border-radius: 50%;
	background: transparent;
	content: "";
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border: 3px solid #435160;
}
/*******************/

#agree:checked ~ label[for=agree] {
  background: #435160;
}
.nav_act{
	width:100%;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F37272;
}
input[type="submit"] {
  background: #4e3654;
    color: #fff;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width:auto; 
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	border:none !important;
	margin-top:20px;
}
input[type="submit"]:hover {
  background: #4e3654;
  animation-name: shake;
}

.forgot {
  margin-top: 10px;
  font-size: 12px;
  color:#89858a;
  margin-top:25px;
  
}
.forgot a{
font-weight: bold;
text-decoration:underline;
color:#59565c;
}
.forgot a:hover{
	text-decoration:underline;
	color:#59565c;
}
.right_poptext{
	margin-top: 10px;
  font-size: 12px;
  color:#89858a;
  margin-top:25px;
  float:right;
  line-height:16px;
}
 .right_poptext a{
font-weight: bold;
text-decoration:underline;
color:#59565c;
}
 .right_poptext a:hover{
	text-decoration:underline;
	color:#59565c;
}
.agree {
  padding: 0px 0px 0 0;
  font-size: 12px;
  color:#f1658a;
}

::-webkit-input-placeholder {
  color: #2d2832;
  font-size: 16px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}
/* by oumaya */
input[type="button"] {
	background: #4e3654;
	color: #fff;
	padding: 10px 45px;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width:auto;
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	border:none !important;
	margin-top:20px;
}
input[type="button"]:hover {
	background: #4e3654;
	animation-name: shake;
}


input[type="buttonwizz"] {
	background: #4e3654;
	color: #fff;
	padding: 10px 45px;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width:auto;
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	/*border:none !important;*/
	margin-top:20px;
}
input[type="buttonwizz"]:hover {
	background: #4e3654;
	animation-name: shake;
}
/******************/
.button-pop {
    background: #4e3654;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width:auto; 
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	border:none !important;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}


ul.social-network-pink {
    list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network-pink li {
	display: inline;
	margin: 5px 20px;
}

.social-circle-pink li a {
	display:inline-block;
	position:relative;
	margin:3px auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:15px;
	background:#f1658a;
}
.social-circle-pink li i {
	margin:0;
	line-height:40px;
	text-align: center;
}
.distag{padding:10px; color:#fff; font-weight:600; text-align:center; font-size:16px; text-transform:uppercase;}

.social-circle-pink li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle-pink i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}




.social-circles li a {
	display:inline-block;
	position:relative;
	margin:3px auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:18px;
	background:#4e3654;
	padding: 2px 2px;
	margin-right:10px;
	
}
.social-circles li i {
	margin:0;
	line-height:38px;
	text-align: center;
	color:#FFFFFF;
}
#test > p, #test-2 > p, #test-3 > p { margin: 0; }

#test > h2, #test-2 > h2, #test-3 > h2 {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(234,234,234,1);
}

#close-button {
  width: 26px;
  height: 26px;
  margin: -5px 0 0 545px;
  position: absolute;
  cursor: pointer;
  right:15px;
  top:18px;
  opacity: 1;
  background:no-repeat;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZTFlMWUxIi8+Cjwvc3ZnPgo=) 
}
#close-button-1 {
  width: 26px;
  height: 26px;
  margin: -5px 0 0 545px;
  position: absolute;
  cursor: pointer;
  right:15px;
  top:18px;
  opacity: 1;
  background:no-repeat;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZTFlMWUxIi8+Cjwvc3ZnPgo=)
}
#close-button-2 {
  width: 26px;
  height: 26px;
  margin: -5px 0 0 545px;
  position: absolute;
  cursor: pointer;
  right:15px;
  top:18px;
  opacity: 1;
  background:no-repeat;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZTFlMWUxIi8+Cjwvc3ZnPgo=)
}

#close-button-3 {
  padding: 7px 10px;
  display: block;
  background: rgba(59,99,169,1);
  color: white;
  text-shadow: 0 1px 1px rgba(59,89,160,1);
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/* add by oumaya */
#close-button-4 {
	width: 26px;
	height: 26px;
	margin: -5px 0 0 545px;
	position: absolute;
	cursor: pointer;
	right:15px;
	top:18px;
	opacity: 1;
	background:no-repeat;
	background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZTFlMWUxIi8+Cjwvc3ZnPgo=)
}
#close-button-6 {
	width: 26px;
	height: 26px;
	margin: -5px 0 0 545px;
	position: absolute;
	cursor: pointer;
	right:15px;
	top:18px;
	opacity: 1;
	background:no-repeat;
	background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE1LjY0MiAxNS42NDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjY0MiAxNS42NDIiIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZTFlMWUxIi8+Cjwvc3ZnPgo=)
}
/*********/
.profile{
	width:100px;
	height:100px;
	float:left;
	
}
.profile img{
	-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.profile_menu{
	width:100px;
	height:100px;
	float:left;
	
}
.profile_menu img{
	-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.profile_name h5{
	color:#2d2832;
	text-transform:uppercase;
	font-weight:normal;
	font-size:22px;
	margin:0px;
	line-height:30px;}
.profile_name{	
	margin-top:15px;
	margin-left:25px;
	float:left;
	width:65%;
}
.prof-tag {
	color:#928e96;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	width:100%;
	float:left;
	margin:0px !important;
}
.profile_cont{
	margin-top:30px;
	float:left;
	width:100%;
	font-size:16px;
	color:#2d2832;
	line-height:25px;
}
.pink_button{
	background: #f1658a;
    color: #fff;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width:auto; 
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	border:none !important;
	margin-top:20px;
	float:left;
}
.prof {
	font-size:14px;
	font-weight:normal;
	border-bottom:solid 1px #cfcfcf;
	padding:0 0 5px;
	width:100%;
	float:left;
	margin-top:40px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.pink_btn{
	background: #fff;
    color: #f1658a;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width:auto; 
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	border:solid 1px #f1658a;
	margin:10px 20px 5px 0;
	float:left;
}
	.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	
}
.nav-tabs > li > a {
	border-bottom:5px solid #fff;
	font-size:18px;
}
.nav-tabs > li > a:hover {
   border-bottom:5px solid #f1648a !important;
   color:#f1648a;
   
}

.tabs nav a {
	
	font-weight:600;
}


.tabs nav a span {
	vertical-align: middle;
	
}

.tabs nav li.active a {
	color: #f1648a;
	border-bottom:solid 5px #f1648a;
}
.button_marg{padding:40px 0;}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
	.owl-nav{position:absolute;
	 top:40%; width:100%;}
	 .nav-left-arrow:before { content: "\f104";font-size:45px;
		color:#000;font-family: "Flaticon"; float:left;  }
	.nav-right-arrow:before { content: "\f106"; font-size:45px;
		color:#000;font-family: "Flaticon"; float:left; }
	.owl-carousel .owl-nav .owl-prev{
		position:absolute;
		left:-55px;
		display:block;
		overflow:visible;
		z-index:999;
		}
	.owl-carousel .owl-nav .owl-next{
		position:absolute;
		right:-55px;
		display:block;
		overflow:visible;
		z-index:999;
		}
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }


/*responce*/
.arowdown{
	display:none;
}

@media screen and (max-width: 380px) {
	.profile-pic_in{
				margin: auto !important;
			}
			.profile-pic_in{margin-bottom:35px;}
			.profile-details_in{margin-top:50px;}
		.comm_profile p{
	padding-right:0px!important;}
	.w_bg{position:absolute;
	left:0; transform: translate(14%, -32px) !important;}
	.profilerow_in{ padding:0px !important;}
.footlink{ display:none !important}
	#test, #test-2, #test-3{
    width: 100% !important;}
	
	.content_area{
		padding: 40px 20px 20px;
		width:100% !important;
	
	}
	.image_icon {
    width: 40px !important;
    height: 40px !important;}

	.image_area {
	overflow:hidden !important;
	width:100% !important;
	/*height:370px;*/
	}
	.social-circles li{
	width: 20% !important;
    float: left;
    text-align: center;
}
	.image_area img {
	
	width:100% !important;
	}
	.image_box h2{
		font-size:30px !important;
	
	}

	.tabs nav li a{
	border-bottom:solid 1px #f1648a;
	}
	.tabs nav li{
		width:80% !important;
	}
	.tabs nav {border:none !important}
	.arowdown{
	display:block;
	width:100%;
	float:left;
	margin-bottom:10px;
	text-align:center;
	color:#f1658a;
}

	.rowin{
		margin-right: -15px;
  		margin-left: -15px;
	}
	.mobile{
		width:100%;
    height: 100%;
    background: url(../images/bg.jpg);
    background-size: cover;
    position: absolute;
    background-position: 54% 46%;
    z-index:99;
		}
	.pink_divier {
    margin: 0 auto;
    float: none !important;
}
		.helium-slider div.slide-window{
		height:420px !important;
	}
	.profile_menu{ margin:auto !important;float:none!important;}
	.top_profile_name, .top_p-detail{
		width:100% !important;
		float:none !important;
		margin-left:0% !important;
		text-align:center !important;
	}	
	.cd-nav .cd-primary-nav{
		width:100% !important;
		float:none !important;
	}
	.icon_top_pro {
    width: 20px!important;
    height: 20px !important;;
     margin: auto; 
     margin-top: 10px!important;}
	.top_on {
    width: 100% !important;
    height: auto!important;
    float: right;
    background: #fde8ed;
    text-align: center;
}
	.scrtabs-tabs-movable-container {
  position: relative;
  height:60px !important;
  border-bottom:6px solid #f1648a !important;
  
}
#gallery-menu a {
    font-size: 12px;
    color: #584E4A;
    position: static !important; 
    margin: 0 !important; 
    width: 100% !important;
    float: left !important;
  
}
	.helium-slider ul.slide-holder li .slide img{ width:1015px !important; height:420px !important; display:block;}
		.search{display:none;}
		.logo{width:25% !important;}
		.right_links{display:none;}
		.top_cent{ width:60% !important; float:none !important;}
		.cd-nav-trigger{ right:3px !important; top:7px !important;}
		#navbar{padding: 16px 0 15px !important;}
		#navbar::after{ width: 65px !important;min-height: 65px !important;}
		header{min-height:auto !important}
		.tab_text{ width:100% !important}
		.social_left{display:none;}
		.tab_text h2, .tab_text h2 span{ font-size:26px !important}
		.tab_text h4{ font-size:16px !important}
		.tab_text p{ font-size:15px !important}
		.black_box .number{ display:none;}
		.black_box p{padding:10px 0 !important; border:none !important; text-align:center; }
		.black_box .pink_text h4{ margin-bottom:20px !important; font-size:18px !important;}
		.pink{ background:#f1658a; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
		.navbar-toggle .icon-bar{background:#fff;}
		.navbar-toggle { padding:5px 10px !important; }
		.navbar{ min-height:45px !important; margin-bottom:15px}
		.liquo-gallery { width:100% !important;margin:0 auto !important}
		.liquo-gallery li{ width:100% !important;}
		.button-rounded{ font-size:12px;}
		.testi_text h2{font-size:30px !important;}
		.fotlogo{
				width:140px !important;
				margin:auto !important;
				margin-bottom:30px !important;
				}
		.social a {
    			margin: 5% 13% !important;}
		.dis{ display:none}
		.divider_foot{
    		width: 100%;
    		height: 1px;
    		border-bottom: solid 1px #5e5a62;
    		margin: 30px 0;
}
		.foot_boxs{ width:100% !important; min-height:50px !important}
		.foot_box {border:none !important; width:100% !important; min-height:auto !important;}
		footer ul li a {line-height: 40px !important;}
		.foot_box p{ font-size:14px !important;}
		footer{ padding-bottom:0px !important}
		.foot_btm{
	background:#2d2832;
	padding:10px 50px;
	color:#FFF;
	font-size:10px;
	float:left;
	width:100%;
}.text_box{
	font-family: 'Asap', sans-serif;
    left: 1% !important;
    top: 30%;
	width:100% !important;
	text-align:center !important;
	z-index:100;


}.caption { font-size:40px !important;}
.caption2{ width:85% !important; margin:0 auto;}
.helium-slider ul.slide-holder li .pane .cd-btn{ margin: 12px auto !important; float:none !important}
.icon1{left:10% !important;}
.icon2{left:10% !important;}
.icon3{left:10% !important;}
.tabs nav li.active a {
    color: #f1648a;
    border-bottom: solid 5px #f1648a;
    
}

}


@media only screen and (max-width: 480px) {
        #tabz{ width: 100%; overflow: hidden; position: relative; padding-top: 70px; }
        #tabz ul{ position: absolute; top: 0 }
        #tabz li { float: left; min-width: 200px; }
        .tabs nav li.active a{ width: 100%; max-width: 100%;}
		.tabs nav {border:none !important}
		.tabs nav li a{
			border-bottom:solid 1px #f1648a;
	}
    .top_cent{ width:60% !important; float:none !important; }
}





@media (min-width: 381px) and (max-width: 648px) {
	.foot_boxs{ width:100% !important; text-align:center !important; min-height:100px !important;}
	.fotlogo{margin:0 auto !important;  }
	.foot_box{ width:50% !important;}
	
	}
	
	
@media (min-width: 381px) and (max-width: 599px) {

		.gray{
			width:83% !important; 
			float:none !important ; 
			margin:0 auto}
		.liquo-gallery li{ 
			width:83% !important; 
			float:none !important ; 
			margin:0 auto}
			.profilerow_in{
				padding:0 !important;
			}
			.profile-pic_in{
				margin: auto !important;
			}
			.profile-pic_in{margin-bottom:35px;}
			.profile-details_in{margin-top:50px;}
		.comm_profile p{
	padding-right:0px!important;}
	.w_bg{position:absolute;
	left:0; transform: translate(14%, -32px) !important;}
}
@media (min-width: 772px) and (max-width: 920px) {.right_links a {
    font-size: 13px !important;
}
}
@media (min-width: 768px) and (max-width: 772px) {
.black_box .number{ font-size:20px !important; width:100% !important; }}
@media (min-width: 600px) and (max-width: 767px) {
.black_box .number{ font-size:20px !important; width:50% !important; border:none !important;}}



@media (min-width: 600px) and (max-width: 772px) {
			.profile-pic_in{
				margin: auto !important;
			}
			.profile-pic_in{margin-bottom:35px;}
			.profile-details_in{margin-top:50px;}
		.comm_profile p{
	padding-right:0px!important;}
	.w_bg{position:absolute;
	left:0; transform: translate(14%, -32px) !important;}
	.profilerow_in{ padding:0px !important;}
	.liquo-gallery li{ width:50% !important;}
	#test, #test-2, #test-3{
    width: 95% !important;}
	.content_area{
		padding: 40px 40px 30px;
	
	}
	
	.image_area {
	overflow:hidden !important;
	}
	.image_area img {
	height:100%;
	width:auto !important;
	}
	.image_box h2{
		font-size:45px !important;
	
	}
	.image_box h5{
		font-size:16px !important;
		width: 80% !important;
	}
	.content_area ul.social-networkpop li {
	
	font-size: 14px !important;
	margin-right:10px !important;
	
	}
	.social-circles li{
	width: 20% !important;
    float: left;
    text-align: center;
}

	.social-circles li a{
		width:35px !important;
		height:35px!important;
		font-size:15px !important;
	}
	.social-circles li i{
		line-height:33px !important; 
	}


}

@media (min-width: 382px) and (max-width: 599px) {
	.footlink{display:none;}
	#test, #test-2, #test-3{
    width: 95% !important;}
	.black_box .number{ font-size:20px !important; width:50% !important; border:none !important;}
	.content_area{
		padding: 40px 20px 20px;
		width:100% !important;
	
	}
	.image_icon {
    width: 40px !important;
    height: 40px !important;}

	.image_area {
	overflow:hidden !important;
	width:100% !important;
	height:370px;
	}
	.social-circles li{
	width: 20% !important;
    float: left;
    text-align: center;
}
	.image_area img {
	
	width:100% !important;
	}
	.image_box h2{
		font-size:30px !important;
	
	}
	.profile_name{
		margin-left: 0px !important;
	}
	
	}

@media (min-width: 381px) and (max-width: 772px) {
	
	.footlink{display:none;}
	.arowdown{
	display:block;
	width:100%;
	float:left;
	margin-bottom:10px;
	text-align:center;
	color:#f1658a;
}
	.social_left{ display:none;!important}
	.caption { font-size:40px !important;}
	.mobile{
	width:100%;
    height: 100%;
    background: url(../images/bg.jpg);
    background-size: cover;
    position: absolute;
    background-position: 54% 46%;
    z-index:99;
		}
	.slide{position:relative; }
.nav-tabs li i{ }
.icon1{left:10% !important;}
.icon2{left:10% !important;}
.icon3{left:10% !important;}
.icon_top_pro {
    width: 20px !important;
    height: 20px !important;;
     margin: auto; 
     margin-top: 10px!important;}
	.top_on {
    width: 100% !important;
    height: auto!important;
    float: right;
    background: #fde8ed;
    text-align: center;
}
	.helium-slider div.slide-window{
		height:435px !important;
	}	
	.helium-slider ul.slide-holder li .slide img{ width:800px !important; height:435px !important; display:block;}
	.search{display:none;}
	.logo{width:20% !important;}
	.right_links a{font-size:12px !important}
	
	.cd-nav-trigger{ right:12px !important;}
	#navbar::after{ width: 84px !important;}
	
	.social_left{ right:6px !important}
	.black_box .pink_text h4{ font-size:18px !important;  margin-top:16px !important}
	.black_box p{ font-size:13px !important; border:none !important; margin:20px 0 !important;}
	
	.black_box .number span{ font-size:12px !important}
	.liquo-gallery { width:100% !important;margin:0 auto !important}
	
	.tab-dis{display:none;}
	.foot_box{ !important}
	.foot_btm{
	background:#2d2832;
	padding:10px 50px;
	color:#FFF;
	font-size:10px;
	float:left;
	width:100%;}
	footer{ padding-bottom:0px !important}
	.pink{ background:#f1658a; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
		.navbar-toggle .icon-bar{background:#fff;}
		.navbar-toggle { padding:5px 10px !important; }
		.navbar{ min-height:45px !important;}
		.text_box{
			font-family: 'Asap', sans-serif;
    		left: 10% !important;
    		top: 30%;
			z-index:100;
	
    }
	.top_on {
    width: 100% !important ;
    height:auto !important;
    float: right;
    background: #fde8ed;
    text-align: center;
}
.top_p-detail {
    padding: 50px 25px;
    margin-left: 20%;
    float: left;
}
.scrtabs-tabs-movable-container {
  position: relative;
  height:60px !important;
  border-bottom:6px solid #f1648a !important;
}
.nav-tabs > li > a {
	/*border-bottom:1px solid #f1648a !important;*/
	font-size:18px;
}
.tabs nav li.active a {
    color: #f1648a;
    border-bottom: solid 5px #f1648a;!important}
#gallery-menu a {
    font-size: 12px;
    color: #584E4A;
    position: static !important; 
    margin: 0 !important; 
    width: 100% !important;
    float: left !important;
  
}
.cd-nav .cd-primary-nav {
    margin-top: 60px;
    width: 100% !important;
    margin: auto;
	
}
.pink_divier{
	margin:0 auto;
	float:none !important;
}
.top_profile_name{
	width:100% !important;
}
.top_p-detail {
    padding: 50px 25px;
    margin-left: 0px !important;
    float: none!important;
	width:100% !important;
	text-align:center !important;
}
.profile_menu{
	width:100px;
	height:100px;
	float:none !important;
	margin:auto !important;
	
}
}
@media (min-width: 773px) and (max-width: 991px) {
footer{ padding:50px 0px 0px 0px !important;}
.foot_btm {
    background: #2d2832;
    padding: 10px 50px;
    color: #FFF;
    font-size: 10px;
    float: left;
    width: 100%;
}
.footlink{display:none;}
		#test, #test-2, #test-3{
    width: 95% !important;}
	.content_area{
		padding: 40px 40px 30px;
	
	}
	.image_area {
	overflow:hidden !important;
	}
	.image_area img {
	height:100%;
	width:auto !important
	}
		.black_box .pink_text h4{ font-size:18px !important;  margin-top:16px !important}
	.black_box p{ font-size:13px !important}
	.black_box .number{ font-size:20px !important; width:100% !important;}
	.black_box .number span{ font-size:12px !important}
	.text_box{
	font-family: 'Asap', sans-serif;
    left: 20% !important;
    top: 30%;
	
    }
	.liquo-gallery li{width:50% !important;}
	.right_links{float:left !important}
	.distag, .tab-dis{ display:none;}
	.top_p-detail{
	margin-left:10% !important;
	
	
}
.top_cent{width:45% !important}
.scrtabs-tabs-movable-container {
  position: relative;
  height:60px
  ;border-bottom:solid 6px #f1648a;
}
.icon1{left:20% !important;}
.icon2{left:25% !important;}
.icon3{left:25% !important;}
}
@media screen and (min-width: 992px) {
	#test, #test-2, #test-3 {
    width: 70% !important;}
	
	.image_area {
	overflow:hidden !important;
	}
	.image_area img {
	height:100%;
	width:auto !important
	}
	.text_box{
	font-family: 'Asap', sans-serif;
    left: 20% !important;
    top: 30%;
	
    }
	.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	
}
.nav-tabs > li > a {
	border-bottom:5px solid #fff;
	font-size:18px;
}
.nav-tabs > li > a:hover {
   border-bottom:5px solid #f1648a !important;
   color:#f1648a;
   
}

.tabs nav a {
	
	font-weight:600;
}


.tabs nav a span {
	vertical-align: middle;
	
}

.tabs nav li.active a {
	color: #f1648a;
	border-bottom:solid 5px #f1648a;
}

	.distag{ display:none;}
	.scrtabs-tabs-movable-container {
  position: absolute;
  height:55px
  ;border-bottom:solid 1px #f1648a;
}
}

/*community*/

@media (min-width: 992px) and (max-width: 1199px) {
	.banner_black_box{
		padding: 90px 50px 50px !important;
		}
	
	
	}
@media (min-width: 660px) and (max-width: 991px) {
	.inner_banner {
    	padding: 0 40px !important;}
	.banner_black_box{
		padding: 70px 30px 50px !important;
		}
	.inner_cont_box {
   		padding: 0 40px !important;
   
		}
		#gallery-content-center li{ padding:15px !important; margin-bottom:10px!important; }
		.social_grid { padding:40px 0 !important;}
	.cont_black{padding: 18px 15px !important;}
	.icon_black{ margin-left:0px !important;}
	.caption_in{
		font-size:40px !important;
		line-height:40px !important;
		}
		.inner_text h4 {
    		font-size: 18px !important;
    		line-height: 26px !important;}
    	.inner_text{
			margin-top:35px !important; 
			}
		.comm_user_box {
    		width: 80% !important;
   			float:left !important;
			margin-bottom:60px !important;
			margin-left:14% !important;
	}	.comm_prof_box p{ width:60% !important;}
		.head { width:80% !important; margin:auto !important}
		.cont_wight { padding: 18px 0px 0 35px !important;}
		.social-left-pink li {
    
    		width: 50px !important;
    		height: 50px !important;
    		font-size: 25px !important;
    		padding: 7px 2px !important;}
		.social-left-pink li {

    		margin: 30px 13px 0 0 !important;}
	.right_pink{ width:33.3% !important; float:left !important}
	.left_pink{ width:66.7% !important ; float:right !important}
	.leftol, .rightol{  width:50% !important ;}
	
}
@media (min-width: 0px) and (max-width: 450px) {

.icon_black{ margin:0 10px !important; }
.cont_black p { font-size:14px !important;}
.comm_profiles {
    width: 80px!important; 
    height: 80px!important; 
    float: left;
}
}
@media (min-width: 451px) and (max-width: 659px) {
	
.icon_black{ margin:0 50px !important; }
.nav-tab_in > li a {
    width: 55px !important;
    height: 55px!important;}

}
@media (min-width: 0px) and (max-width: 659px) {
	.profileBox-right { width:100%!important; padding-top: 20px !important; min-height:auto !important; }
	.profileBox-left{ width:100%!important; text-align:center;}
	.redline::after{ left:50% !important;}
	.profileBox {
		
    max-height: 600px !important;
}
.nous_button{width: 235px!important;}
.button_outer {
    width: 235px !important;}
	.button_outer:after {
    width: 245px !important;}
	.cont_black {
		width:100% !important;
		padding: 18px 10px !important; 
	}
	.cont_wight p, .nous_line, .vert_line{ display:none !important;}
	.inner_banner {
    	padding: 0 20px !important;}
	.banner_black_box{
		width:100%!important;
		padding: 70px 30px 50px !important;
		}
	.inner_cont_box {
   		padding: 0 20px !important;
   
		}
	#gallery-content-center li{ padding:0px !important; margin-bottom:20px!important;}
	.social_grid { padding:40px 0 !important;}
		.inner_text {
    margin-top: 20px!important ;
    padding-left: 0px !important ;
	text-align:center !important;
}
		 .inner_cont_box{ }
		.cont_black p span{
    	text-align:center !important;
    	margin: 0 10px !important;
}
	.caption_in{
		font-size:38px !important;
		line-height:40px !important;
		}
		.rightol{ float:right !important; width:100%;}
		.leftol{ float:left !important}
		.inner_text h4 {
    		font-size: 18px !important;
   			 line-height: 29px !important;
    		font-weight: normal !important;
			padding:0 15px !important;
}
.comm_user_box {
    		width: 100% !important;
   			float:left !important;
			margin-bottom:60px !important;
			margin-left:0 !important;
	}	.comm_prof_box p{ width:60% !important;}
	.comm_texthed h4, .comm_texthed h4 span {
    font-size: 25px !important;
	
	}
	.nav-tab_in{width: 100% !important;}
	
	span.round-tabs {
    font-size: 16px;
    width: 60px !important;
    height: 60px!important;
    line-height: 42px;
    font-size: 61px !important;
	
}
.nav-tab_in > li a {
    width: 50px;
    height: 50px;
     line-height: 0px !important;
}
.nav-tab_in > li.active > a:after {
    
    padding: 13px 6px!important;
    bottom: -20px!important;
    right: -10px!important;
}
.right_pink, .right_pink p{text-align:center !important ; width:100%;}
.social-left-pink li {
    
    		width: 40px !important;
    		height: 40px !important;
    		font-size: 20px !important;
    		padding: 0px 2px !important;}
		.social-left-pink li {
text-align:center!important;
    		margin: 5px 5px !important;}	

.filter_social { padding:30px 0 !important;}
.right_pink p{ margin:30px 0 !important;}
.left_pink{ width:280px; margin:auto}
#gallery-content-center li{ width:100% !important}
.vert_line{ margin-right:26px !important }
}
@media screen and (min-width: 1500px) {
	#test, #test-2, #test-3 {
    width: 60% !important;
	height:580px;
    }}